<div class="bg-slate-50 w-full min-w-fit p-8 flex flex-col -mt-16 rounded-md">
  <h1 class="text-2xl font-semibold text-center mb-6">Link Shortener</h1>
  <label class="text-lg">Enter your Link:</label>
  <input type="text" class="w-96 p-2 border border-slate-400 rounded-md mb-6" [(ngModel)]="userInput">
  <button class="w-96 bg-blue-500 p-2 text-white rounded-md" (click)="shortenUrl()">Shorten URL</button>
  @if (showResult) {
  <div class="flex flex-col mt-6">
    <p>Your Shorten Link:</p>
    <a id="text-to-copy" href="{{ shortenLink }}" target="_blank">{{ shortenLink }}</a>
    <button id="btn_copy" class="w-96 bg-green-500 p-2 text-white rounded-md" [attr.data-clipboard-target]="'#text-to-copy'">
      Copy to Clipboard
    </button>
  </div>
  }
</div>